/Ansaer.class
/amazonPrime.class
/amazonSearch.class
/bedroomApartments.class
/calculatorTradition.class
/charStrings.class
/daysOfTheWeek.class
/enterName.class
/exTernary.class
/findWords.class
/fizzbuzz.class
/forLoop.class
/forLoopOne.class
/gradeTernary.class
/insuranceQuote.class
/laptopConfig.class
/logIn.class
/loginSecond.class
/mirakhmatCode.class
/moreScanpractice.class
/nameChar.class
/nameCompare.class
/nameScan.class
/newLoop.class
/reverseChar.class
/reverseString.class
/reviewString.class
/statementSwitch.class
/sundayJava.class
/swapInt.class
/taskOne.class
/trimSpace.class
/twoNumber.class
/vehicle.class
/vending.class
/weather.class
/weekDays.class
/wordCount.class
