/ArraysCont.class
/ListPractice.class
/ListWithMethods.class
/TextFileToList.class
/TextFileToList1.class
/addSpaceMethod.class
/againArrayPractice.class
/amPm.class
/calculator.class
/combineArr.class
/compareArrays.class
/countDown.class
/countFound.class
/day30Arrays.class
/day30Task2.class
/decimalNum.class
/findLongest.class
/firstLetters.class
/gearMerge.class
/groceryArray.class
/helloMethod.class
/hollow.class
/jumadilov.class
/k.class
/letsJumpIn.class
/listPractice1.class
/loopsLoops.class
/mentoringSession.class
/moreArrayPractice.class
/negOdd.class
/nestedLoopExample.class
/newArrayAZ.class
/newSubstring.class
/oCA.class
/ocaPractice.class
/practice1.class
/practice2222.class
/practiceArrayL1.class
/sandwich.class
/stringCode.class
/task2.class
/textFromFile.class
/timer.class
/toFind.class
/triple.class
/userName.class
/varArgs.class
/wordsAll.class
